#navigation-button {
    -fx-min-height: 48px;
    -fx-min-width: 48px;
    -fx-max-height: 48px;
    -fx-max-width: 48px;
    -fx-background-size: 48px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 90%;
    -fx-background-color: -fx-shadow-highlight-color,
    -fx-outer-border,
    -fx-inner-border,
    -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.navigation-button-influx {
    -fx-background-image: url('../img/influxdb-logo.png');
}
